.git
.gitignore

**/.DS_Store
**/.idea
**/.vscode

server/.env
server/.env.*

server/node_modules
server/vendor

server/storage/logs
server/storage/framework/cache
server/storage/framework/sessions
server/storage/framework/views

**/*.csv
